@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.App {
    height: 100%;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

#subrootdiv {
    height: 65%;
    min-height:250px;
    margin-top: 20%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    color: #fff;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 450px;
    height: 100%;
    padding: 20px;
    background-color: white;
    color: black;
}

#prompttext {
    font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 4rem;

    color: #000000;
}

h1 {
    text-align: center;
    font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 0;
}

#signupform {
    margin-top: 0;
    padding-top: 1%;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
}


label {
    text-align: center;
}

#forminputs {
    margin-top: 0;
    padding-top: 1%;
    padding: 0px 25px 0;
    display: flex;
    background-color: transparent;
    flex-direction: column;
}


input {
    margin-bottom: 3%;
}

.hidden{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#signupbtn {
    width: 80%;
    height: 2rem;
    align-self: center;
    border-radius: 5px;
    background-color: black;
    color: white;
}