@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
    font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
}

.photo {
    height: 250px;
    width: 350px;
}

.background {
    background-color:black;
    color:whitesmoke;
}

.menu_background {
    background-color:rgb(32, 32, 32);
    color:whitesmoke;
}

.icon_arrow {
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
}

.toolbar {
    background-color:rgb(32, 32, 32);
    color:whitesmoke;
    max-width: 34;
}

.changeinfo{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:center;
    font-size: large;
    font-weight: 200;
}
.columnleft{
    align-self: center;
    flex-wrap:wrap;
    width: 19.5%;
    padding: 10px;
}
.columnright{
    align-self: center;
    flex-wrap:wrap;
    width: 19.5%;
    padding: 10px;
}

